<%= form_with(model: orders_product, local: true) do |form| %>
  <% if orders_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orders_product.errors.count, "error") %> prohibited this orders_product from being saved:</h2>

      <ul>
      <% orders_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :order_id %>
    <%= form.number_field :order_id %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.number_field :product_id %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
