<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @orders_product.order_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @orders_product.product_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @orders_product.amount %>
</p>

<%= link_to 'Edit', edit_orders_product_path(@orders_product) %> |
<%= link_to 'Back', orders_products_path %>
